<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>
      {{name}} - Resume
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css" integrity="sha256-V8SV2MO1FUb63Bwht5Wx9x6PVHNa02gv8BgH/uH3ung=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/resume.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          {{header.name}}
        </h1>
        <ul>
          <li>
            <i class="fas fa-mouse-pointer"></i>
            <a href="{{header.website}}">
              {{header.website}}
            </a>
          </li>
          <li>
            <i class="far fa-envelope"></i>
            <a href="mailto:{{header.email}}">
              {{header.email}}
            </a>
          </li>
          <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/{{header.github}}">
              {{header.github}}
            </a>
          </li>
          <li>
            <i class="fab fa-linkedin"></i>
            <a href="https://linkedin.com/in/{{header.linkedin}}">
              {{header.linkedin}}
            </a>
          </li>
        </ul>
        <hr>
      </header>
      <main>
        <section id='col-1'>
          <section id='education'>
            <h2>
              Education
            </h2>
            <div class="school">
              <h3>
                {{education.school}}
              </h3>
              <div class="graduation-date">
                {{education.graduation}}
              </div>
              <div class="major">
                {{education.major_type}} {{education.major}}
              </div>
              <div class="minor">
                Minor, {{education.minor}}
              </div>
              <div class="gpa">GPA: {{education.gpa}}</div>
            </div>

            <h3>
              Relevant Coursework
            </h3>
            <ul>
              {{#each education.coursework}}
                <li>
                  {{this}}
                </li>
              {{/each}}
            </ul>
          </section>
          <section id='skills'>
            <h2>
              Skills
            </h2>
            <h3>
              Languages
            </h3>
            <ul>
              {{#each skills.languages}}
                <li>
                  {{{katex this}}}
                </li>
              {{/each}}
            </ul>
            <h3>
              Frameworks & Technologies
            </h3>
            <ul>
              {{#each skills.frameworks_and_technologies}}
                <li>
                  {{this}}
                </li>
              {{/each}}
            </ul>
          </section>
          <div id="last-updated">
            Last updated {{currentDate}}
          </div>
        </section>
        <section id='col-2'>
          <section id='experience'>
            <h2>
              Experience
            </h2>
            {{#each experience}}
              <div class="job">
                <div class="job-header">
                  <h3><a href="{{this.url}}">{{this.company}}</a></h3>:
                  <span class='job-title'>
                    {{this.title}}
                  </span>
                  <span class='job-dates'>
                    ({{this.start_date}} &ndash; {{this.end_date}})
                  </span>
                </div>
                <ul>
                  {{#each this.bullets}}
                    <li>
                      {{this}}
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/each}}
          </section>

          <section id='projects'>
            <h2>
              Selected Projects
            </h2>
            {{#each projects}}
              <div class="project">
                <div class="project-header">
                  <h3><a href="{{this.url}}">{{this.name}}</a></h3>
                  <span class='project-tech'>
                    ({{arrayToText this.technologies}})
                  </span>
                </div>
                <p>
                {{this.description}}
                </p>
              </div>
            {{/each}}
          </section>
        </section>
      </main>
    </div>
  </body>
</html>
